<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

**João Azevedo**

Data Analyst

*I am interested in data science because I like to solve mathematical puzzles. Combining programing with data to solve real life problems seems a really interesting job.*

### The following code is supposed to add two numbers

In [4]:
1 + 1

2

***

The following table shows two things:
1. Average housing prices in main cities in Portugal
2. Average price per square meter per location


| Location        | Average price          | Price per square meter |
| ------------- |:-------------:| :-------------:| 
| Porto    | 200000€ | 1000€ | 
| Lisbon     | 250000€ | 1300€ |